.doneGroup {
    width: 100%;
}

.doneItem{
    margin: 0 auto;
    width: 50%;
    background-color: #994841;
    opacity: 0.6;
    color: #fff;
    border: 2px solid #D3A067;
    display: flex;
    align-items: center;
}

.doneItem > span{
    justify-self: center;
    width: 90%;
}

.doneItem > div {
    flex: 1;
    justify-self: end;
}

.doneItem > div:hover{
    text-decoration: underline;
    flex: 1;
    justify-self: end;
}

.itemSpan{
    justify-self: center;
    width: 90%;
}

.itemClickable{
    flex: 0.5;
    justify-self: end;
    border-bottom: 3px solid transparent !important;
}

.itemClickable:hover{
    border-bottom: 3px solid #fff !important;
    flex: 0.5;
    justify-self: end;
}