.navigation > nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navigation > nav > ul > li{
    list-style: none;
}

.navLink{
    margin: 10px;
    padding: 10px;
    font-variant: small-caps;
    text-decoration: none;
    font-weight: bold;
    color: #352E2F;
}

.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-item-selected::after{
    border: none !important;
}

.ant-menu-item:hover{
    border-bottom: 2px solid #DDC397 !important;
}

.ant-menu-item-selected {
    color: #DDC397 !important;
}