.navigation > nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navigation > nav > ul > li{
    list-style: none;
}

.navigation > nav > ul > li:hover{
    list-style: none;
}

.navigation > nav > ul > li > .navLink{
    margin: 10px;
    padding: 10px;
    font-variant: small-caps;
    text-decoration: none;
    font-weight: bold;
    color: #352E2F;
    background-color: #DDC397;
    border: 1px solid #994841;
}

.navigation > nav > ul > li > .navLink:hover{
    color: #DDC397;
    background-color: #994841;
    border: 1px solid #DDC397;
}