.todoItemDetail{
    color: #352E2F;
    font-weight: bold;
    background-color: #D3A067;
    padding: 10px;
    margin: 20px;
    border-radius: 15%;
}

.todoItemDetail > h1{
    color: #994841;
    font-weight: bold;
    font-variant: small-caps;
}