.TodoList{
    width: 50%;
}

.TodoList > h1{
    color: #D3A067;
    font-weight: bold;
    font-variant: small-caps;
}

.TodoList > .TodoGroup {
    width: 100%;
}

.TodoList > .TodoGroup > div{
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TodoList > .TodoGroup > .TodoItem{
    background-color: #994841;
    opacity: 0.6;
    color: #fff;
    border: 2px solid #D3A067;
}

.TodoList > .TodoGroup > .TodoItemDone{
    background-color: #DDC397;
    color: #994841;
    opacity: 0.6;
    border: 2px solid #994841;
}

.TodoList > .TodoGroup > div > span{
    width: 95%;
}

.TodoList > .TodoGroup > div > div{
    border: 1px solid #994841;
    flex: 1;
}

.TodoList > .TodoGroup > div > div:hover{
    background-color: #000;
    border: 1px solid #fff;
    color: #994841;
}

.TodoList > .TodoGenerator{
    width: 100%;
}

.TodoList > .TodoGenerator > input[type=text]{
    width: 70%;
    background-color: #DDC397;
    color: #352E2F;
}

::placeholder{
    color: #994841;
    font-weight: bold;
    font-variant: small-caps;
}

.TodoList > .TodoGenerator > button{
    width: 20%;
    background-color: #994841;
    color: #DDC397;
    border: none;
    font-weight: bold;
}

.TodoList > .TodoGenerator > button:hover{
    color: #352E2F;
    background-color: #D3A067;
}