.TodoGroup{
    width: 100%;
}

.TodoItem{
    margin: 0 auto;
    width: 50%;
    background-color: #994841;
    opacity: 0.6;
    color: #fff;
    border: 2px solid #D3A067;
    display: flex;
    align-items: center;
}

.TodoItemDone{
    margin: 0 auto;
    width: 50%;
    background-color: #DDC397;
    color: #994841;
    opacity: 0.6;
    border: 2px solid #994841;
    display: flex;
    align-items: center;
}

.TodoItem > span{
    justify-self: center;
    width: 90%;
}

.TodoItem > div {
    flex: 0.5;
    justify-self: end;
}

.TodoItem > div:hover{
    text-decoration: underline;
    flex: 0.5;
    justify-self: end;
}

.TodoItemDone > span{
    justify-self: center;
    width: 90%;
}

.TodoItemDone > div {
    flex: 0.5;
    justify-self: end;
}

.TodoItemDone > div:hover{
    text-decoration: underline;
    flex: 0.5;
    justify-self: end;
}